<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <description><![CDATA[KlimaCheck]]></description>
    <display-name>KlimaCheck</display-name>

    <listener>
        <listener-class>org.h2.server.web.DbStarter</listener-class>
    </listener>
    <listener>
        <listener-class>SessionInitializer</listener-class>
    </listener>
    <listener>
        <listener-class>CollectorInitializer</listener-class>
    </listener>
</web-app>